{% load static %}


<footer class="bottom-0 text-white body-font bg-head-gradient">

    <div class="max-w-screen-lg container mx-auto flex flex-wrap flex-column items-center py-3 text-sm">
{#      <h1 class="font-bold text-xl text-teal-600">Sticky footer with TailwindCSS</h1>#}
        <div class="text-gray-300">
            Если вы обнаружили ошибку или сайт работает некорректно, или вы хотите поболтать, просто напишите в
            <a href="{% url 'message' %}" class="text-gray-200 hover:text-gray-400">форму связи с администратором</a>
        </div>

    </div>

</footer>