{% load static %}

<header class=" text-white body-font bg-head-gradient">
    <div class="max-w-screen-lg  container mx-auto flex flex-wrap p-1 flex-row items-center">
        <a href="{% url 'home' %}" class="flex title-font font-medium items-center mb-0">
          <img class="w-9 h-9" src="{% static 'image/logo-white.svg' %}">
          <span class="ml-1.5 text-sm">exam lists</span>
        </a>
        <nav class="ml-auto flex flex-wrap items-center justify-end text-sm">
            <a href="{% url 'subjects' %}" class="mr-5 lowercase hover:text-gray-400">Дисциплины</a>
            <a href="#" class="mr-5 lowercase hover:text-gray-400">Академ. разница</a>
            {% if request.user.is_authenticated %}
                <a href="{% url 'upload' %}" class="mr-5 lowercase hover:text-gray-400">Импортировать</a>
                <a href="#" class="mr-5 lowercase hover:text-gray-400">Редактировать</a>
            {% endif %}
        </nav>
        <div class="text-sm">
            {% if request.user.is_authenticated %}
                <a href="{% url 'logout'%}" class="text-gray-300 lowercase hover:text-gray-400">Выход</a>
            {% else %}
                <a href="{% url 'login' %}" class="text-gray-300 lowercase hover:text-gray-400">Вход для методистов</a>
            {% endif %}
        </div>
    </div>
</header>
