{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mb-12 max-w-screen-lg body-font container mx-auto ">
    <h1 class="mt-12 font-normal text-lg">Семестровый список дисциплин</h1>
    <div class="mt-9 flex flex-nowrap items-center justify-between ">
        <form class="w-full inline-flex items-center" method="get" >
            {{ filter_form }}
            <button class="ml-9 px-3 pt-1 pb-2 rounded border-2 button-deepblue tracking-wide inline-flex justify-center link-home-hover" type="submit">Загрузить</button>
        </form>
    </div>
<div class="mb-2 mt-9 flex items-center justify-between">
<h2 class=" font-semibold text-deepblue">
    {{ title }}
    </h2>
<button class=" px-3 pt-1 pb-2 text-right text-xs font-medium text-gray-600 uppercase tracking-wider link-home-hover"
        id="copy-table-button" onClick="copytable('subjects-table')">
    Копировать</button>
</div>
    <div class="flex flex-col w-full">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table id="subjects-table" class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Дисциплина
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Часов лекций
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Часов практики
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Часов лабораторных
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Контроль
                            </th>

                        </tr>
                    </thead>
                    <tbody>
{% block table %}
{% endblock table %}
                    </tbody>
                </table>
                </div>
            </div>
            </div>
        </div>
</div>
<script type="text/javascript">

function copytable(el) {
    var urlField = document.getElementById(el)
    var range = document.createRange()
    range.selectNode(urlField)
    window.getSelection().addRange(range)
    document.execCommand('copy')
}

</script>
{% endblock content %}